.cvContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100rem;
  height: 37.4cm;

  .profil, .abilities, .hobbies {
    background-color: $primary;
    color: $light;
    width: 30%;
    display: flex;
    flex-direction: column;
    z-index: 2;  
    
    &__img {
      &--sized {
        width: 30rem;
      }
    }
    
    &__table {
      margin-top: 0.35rem;
      padding-inline: 2rem;

      &--title {
        font-size: 2.4rem;
        padding: 0 0.5rem;
        border: 2px solid coral;
        border-radius: 0.2rem;
      }

      &--content {
        margin: 1.88rem 0;

        &-title {
          font-size: 1.8rem;
          line-height: 200%;
        }

        &-link {
          display: flex;
          align-items: center;
          color: $light;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $secondary;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .infos {
    z-index: 2;
    width: 70%;


    &__header {
      background-color: $secondary;
      width: 100%;
      height:12%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.2rem;

      &--title {
        position: relative;
        border: 3px solid $dark;
        padding: 0 15%;
        border-radius: 0.2rem;
      
        &-subtitle {
          position: absolute;
          padding: 0 3rem;
          line-height: 150%;
          bottom: -27%;
          left: 22%;
          width: auto;
          background-color: $secondary;
        }
      }
    }

    &__description {
      padding: 2rem 5rem;
      text-indent: 2rem;
      text-align: justify;
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      
      &--table {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-title {
          margin-inline: 3rem;
          margin-top: 1rem;
          padding-left: 1rem ;
          color: $primary;
          font-weight: 400;
          border-radius: 0.2rem;
          border: 1px solid $primary;
          font-size: 2.5rem;
        }

        & .table__row {
          
          &:last-child{
          border-bottom: none;
          }

          display: flex;
          flex-direction: row;
          padding-block: 1rem;
          margin-inline: 2rem;
          border-bottom: 1px solid $gray-400;

          &--date {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            width: 20%;
          }

          &--job {
            width: 100%;
            justify-content: center;
            text-align: left;
            padding-block: 0.5rem;

            &-link {
              display: flex;
              align-items: center;
              padding-left: 5%;
              margin-bottom: 1rem;
              padding-top: 1rem;
              text-decoration: underline;
              transition: all 0.3s ease-in-out;
              border-top: 1px solid $gray-400;

              &[data='first'] {
                border-top: none;
              }

              &:hover {
                color: $primary;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
        
      }
    }
  }
}


@media screen and (max-width: 980px){
  .cvContainer {
   width: 100%;
  }
}