.homepage {
  width: 100%;
  padding: 0 10%;
  background-color: $primary;
  display: flex;
  justify-content: space-evenly;
  
  &__title {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem 0;
    color: $white;
    text-align: center;

    &--devis {
      z-index: 2;
      font-family: $font-special;
      align-self: center;
      padding: 1.5rem;
      background-color: $secondary;
      border: none;
      border-radius: $br;
      font-size: 2.8rem;
      transition: all ease-in-out 0.25s;
      text-decoration: none;
      color: $black;
      text-align: center;
      
      &:hover {
        color: $black;
        transform: scale(1.05,1.05);
        transition: all ease-in-out 0.25s;
        box-shadow: $smooth-shadow;
      }
    }
  }

  &__img {
    z-index: 2;
    height: 45rem;
  }
}

@media screen and (max-width: 980px){
  .homepage {
    &__img {
      display: none;
    }
  }
}