.navbar {
  display: flex;
  justify-content: space-around;
  background-color: $primary;
  width: 100%;
  transition: all ease-in-out 0.25s;

  &__logo {
    height: 25rem;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
  }

  &__navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--item {
      transition: all ease-in-out 0.25s;
      font-size: 2.8rem;
      line-height: 150%;
      height: auto;
      margin: 0 2rem;
      padding: 1rem;
      border-radius: $br;
      color: $white;
      text-decoration: none;
      font-family: $font-special;
      &:hover, &.active {
        color: $black;
        transform: scale(1.05,1.05);
        transition: all ease-in-out 0.25s;
        box-shadow: $smooth-shadow;
        background-color: $secondary;
      }
      &:visited {
        text-decoration: none;
      }
      
      &.noactive{
        transition: 0;
        box-shadow: none;
        background-color: $primary;
        transform: none;
      }
    }
  }
 
}

@media screen and (max-width: 980px){
  .navbar {
    padding: 1rem 0;
    &__logo {
      width: 18rem;
      margin-right: 2.5rem;
      background-color: rgba(0, 0, 0, 0);
    }
    &__navlinks {
      margin: 0 2rem;
      &--item {
        margin: 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 550px){
  .navbar {
    padding: 0;
    display: block;
    &__logo {
      width: 10rem;
      height: auto;
    }
    &__navlinks {
      margin: 0 2rem;
      &--item {
        margin: 0 0.3rem;
        font-size: 1rem;
      }
    }
  }
}
