.maintenance, .creation , .contact{
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    z-index: 2;
    margin-bottom: 3rem;
  }
  
  &__display {
    z-index: 2;
    margin: 0 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &--img {
      width: 50%;
      margin-left: 5rem;
    }
    
    &--table {
      display: flex;
      flex-direction: column;
      border: 1px solid $gray-100;
      border-radius: $br;
      width: 100%;

      & .table__row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: $gray-100;
        padding: 1rem;
        position: relative;
        
        &:before{ 
          content : "";
          position: absolute;
          left    : 5%;
          bottom  : 0;
          height  : 1px;
          width   : 90%;
          border-bottom: 1px solid $gray-400;  
        }
        
        &--notions {
          margin-left: 2rem;
        }
        
        &--col {
          &-desc {
            margin: 0 2rem;
          }
          
          &-price {
            text-align: right;
            height: 100%;
            width: 12rem;
          }
          
          &-svg {
            vertical-align: bottom;
          }
          
          &-value {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: large;
            height: 100%;
          }
        }
      } 
    }
  }
}

@media screen and (max-width: 980px){
  .maintenance, .creation , .contact{

    &__display {
      flex-direction: column;
      width: 95%;

      &--img {
        margin-top: 2rem;
        margin-left: 0;
        align-items: center;
        width: 100%;
      }
    }
  }
}

